@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
    margin: 0;
    line-height: normal;
}
:root {
    /* fonts */
    --font-poppins: Poppins;
    --font-montserrat: Montserrat;
    --font-roboto: Roboto;

    /* font sizes */
    --font-size-base: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-5xl: 1.5rem;
    --font-size-lgi: 1.188rem;
    --font-size-xl: 1.25rem;
    --font-size-6xl: 1.563rem;
    --font-size-xs: 0.75rem;
    --font-size-17xl: 2.25rem;
    --font-size-10xl: 1.813rem;
    --font-size-3xl: 1.375rem;
    --font-size-29xl: 3rem;
    --font-size-19xl: 2.375rem;
    --font-size-15xl: 2.125rem;

    /* Colors */
    --color-steelblue: #0073b7;
    --color-black: #000;
    --color-gainsboro-100: #e5e7eb;
    --color-gainsboro-200: #d9d9d9;
    --color-darkgray-100: #b2b2b2;
    --color-darkgray-200: #9f9f9f;
    --color-forestgreen: #28a745;
    --color-gray-3: #898989;
    --color-gray-100: #242424;
    --color-gray-200: rgba(0, 0, 0, 0.17);
    --color-linen: #faf3ea;
    --color-white: #fff;
    --color-floralwhite: #fff7ed;
    --color-sandybrown: #fdba74;
    --color-slategray: #6b7280;
    --color-darkslategray: #374151;
    --color-darkorange: #f97316;
    --color-chocolate: #e05900;
    --color-dimgray: #4b5563;

    /* Gaps */
    --gap-28xl-1: 2.943rem;
    --gap-5xl: 1.5rem;
    --gap-14xl-3: 2.081rem;
    --gap-mid: 1.062rem;
    --gap-xl: 1.25rem;
    --gap-53xl: 4.5rem;
    --gap-17xl: 2.25rem;
    --gap-lg: 1.125rem;
    --gap-33xl: 3.25rem;
    --gap-7xl: 1.625rem;
    --gap-2xs: 0.687rem;
    --gap-10xs-9: 0.181rem;
    --gap-35xl: 3.375rem;
    --gap-25xl-6: 2.787rem;
    --gap-25xl-8: 2.8rem;
    --gap-30xl: 3.062rem;
    --gap-3xs: 0.625rem;
    --gap-11xs: 0.125rem;
    --gap-3xl: 1.375rem;
    --gap-4xl-3: 1.456rem;
    --gap-mini: 0.937rem;
    --gap-base: 1rem;
    --gap-sm: 0.875rem;
    --gap-2xs-5: 0.656rem;
    --gap-11xl: 1.875rem;
    --gap-7xs: 0.375rem;
    --gap-198xl: 13.562rem;
    --gap-8xl: 1.687rem;
    --gap-89xl: 6.75rem;
    --gap-26xl: 2.812rem;
    --gap-8xs: 0.312rem;
    --gap-20xl: 2.437rem;
    --gap-lgi: 1.187rem;
    --gap-25xl-5: 2.781rem;
    --gap-5xs: 0.5rem;

    /* Paddings */
    --padding-28xl: 2.937rem;
    --padding-xl: 1.25rem;
    --padding-18xl-3: 2.331rem;
    --padding-12xl: 1.937rem;
    --padding-5xl: 1.5rem;
    --padding-11xs: 0.125rem;
    --padding-194xl-7: 13.356rem;
    --padding-120xl: 8.687rem;
    --padding-12xs-1: 0.006rem;
    --padding-263xl-3: 17.643rem;
    --padding-164xl: 11.437rem;
    --padding-81xl: 6.25rem;
    --padding-34xl: 3.312rem;
    --padding-7xl: 1.625rem;
    --padding-44xl: 3.937rem;
    --padding-33xl: 3.25rem;
    --padding-3xl: 1.375rem;
    --padding-8xl: 1.687rem;
    --padding-22xl: 2.562rem;
    --padding-15xl: 2.125rem;
    --padding-68xl: 5.437rem;
    --padding-18xl: 2.312rem;
    --padding-67xl: 5.375rem;
    --padding-19xl: 2.375rem;
    --padding-38xl: 3.562rem;
    --padding-37xl: 3.5rem;
    --padding-17xl: 2.25rem;
    --padding-mid: 1.062rem;
    --padding-9xs: 0.25rem;
    --padding-12xs: 0.062rem;
    --padding-8xs: 0.312rem;
    --padding-xs-5: 0.718rem;
    --padding-7xs: 0.375rem;
    --padding-3xs: 0.625rem;
    --padding-10xs: 0.187rem;
    --padding-16xl: 2.187rem;
    --padding-60xl: 4.937rem;
    --padding-52xl: 4.437rem;
    --padding-55xl: 4.625rem;
    --padding-20xl: 2.437rem;
    --padding-11xl: 1.875rem;
    --padding-4xl: 1.437rem;
    --padding-27xl: 2.875rem;
    --padding-10xl: 1.812rem;
    --padding-6xl: 1.562rem;
    --padding-486xl: 31.562rem;
    --padding-66xl: 5.312rem;
    --padding-107xl: 7.875rem;
    --padding-233xl: 15.75rem;
    --padding-9xl: 1.75rem;
    --padding-mini: 0.937rem;
    --padding-smi: 0.812rem;
    --padding-2xl: 1.312rem;
    --padding-5xs: 0.5rem;
    --padding-lgi: 1.187rem;
    --padding-31xl: 3.125rem;

    /* Border radiuses */
    --br-mini: 15px;
    --br-3xs: 10px;
    --br-181xl: 200px;
    --br-5xs: 8px;
    --br-9xs: 4px;
}
